/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/kpv-mhr.autobil.bin
/kpv-mhr.autogen.hfst
/kpv-mhr.automorf.hfst
/kpv-mhr.lrx.bin
/kpv-mhr.mode
/kpv-mhr.rlx.bin
/kpv-mhr.t1x.bin
/kpv-mhr.t2x.bin
/kpv-mhr.t3x.bin
/mhr-kpv.autobil.bin
/mhr-kpv.autogen.hfst
/mhr-kpv.automorf.hfst
/mhr-kpv.lrx.bin
/mhr-kpv.mode
/mhr-kpv.rlx.bin
/mhr-kpv.t1x.bin
/mhr-kpv.t2x.bin
/mhr-kpv.t3x.bin
/missing
/modes
